* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 253, 250);
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.shadow-site {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 10;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 253, 250);
  width: 100%;
}
.nav__logo {
  margin: 2em 1em;
  width: 65px;
  height: 40px;
}
.nav__btn {
  border: 1px solid transparent;
  background: none;
  padding: 1em;
  z-index: 1000;
  display: none;
}
.nav__btn--hidden {
  display: none;
}
.nav__item {
  text-decoration: none;
  color: hsl(240deg, 100%, 5%);
  font-size: 1.6rem;
  margin: 0 2em;
  transition: color 0.3s;
}
.nav__item:hover {
  color: rgb(241, 94, 80);
}

a {
  text-decoration: none;
}

.header {
  margin: 1em;
}
.header__img {
  background-image: url("/img/image-web-3-mobile.jpg");
  background-size: cover;
  width: 100%;
  margin-top: 4em;
  height: 370px;
}
.header__content {
  margin: 1em;
}
.header__content-title {
  line-height: 1;
  font-weight: 800;
  font-size: 4.6rem;
}
.header__content-title a {
  color: hsl(240deg, 100%, 5%);
}
.header__content-right-text {
  margin: 1.5em 0;
  color: hsl(236deg, 13%, 42%);
  line-height: 1.5;
  font-size: 1.5rem;
}
.header__content-right-btn {
  padding: 1em 2em;
  background-color: rgb(241, 94, 80);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  transition: background-color 0.3s;
}
.header__content-right-btn:hover {
  background-color: hsl(240deg, 100%, 5%);
}
.header__content-right-btn a {
  color: rgb(255, 253, 250);
}

.aside {
  background-color: hsl(240deg, 100%, 5%);
  margin: 12em 1em;
  padding: 2em;
}
.aside__heading {
  font-size: 2.4rem;
  color: rgb(233, 171, 83);
  margin-bottom: 1em;
}
.aside__news {
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
}
.aside__news:last-child {
  border-bottom: 1px solid transparent;
}
.aside__news-title {
  color: rgb(255, 253, 250);
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
  transition: color 0.3s;
}
.aside__news-title:hover {
  color: rgb(233, 171, 83);
}
.aside__news-title a {
  color: rgb(255, 253, 250);
}
.aside__news-text {
  color: hsl(233deg, 8%, 79%);
  line-height: 2;
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.section {
  margin: 0 1em 6em;
  display: flex;
  flex-direction: column;
}
.section__box {
  display: flex;
  flex-direction: row;
}
.section__box-img img {
  margin: 1em 1em 1em 0;
  width: 40vw;
  height: auto;
}
.section__box-right {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__box-right-number {
  font-weight: 700;
  font-size: 2.8rem;
  color: hsl(233deg, 8%, 79%);
}
.section__box-right-title {
  font-size: 1.6rem;
  font-weight: 800;
}
.section__box-right-title a {
  color: hsl(240deg, 100%, 5%);
}
.section__box-right-text {
  color: hsl(236deg, 13%, 42%);
  font-size: 1.4rem;
  line-height: 1.8;
}

.footer__text {
  margin: 3em 0;
  text-align: center;
  color: hsl(236deg, 13%, 42%);
  font-size: 1.4rem;
  text-transform: uppercase;
}
.footer__text--bold {
  font-weight: 800;
}

@media (max-width: 768px) {
  .nav {
    position: relative;
  }
  .nav__btn {
    display: block;
  }
  .nav__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -768px;
    padding-top: 10em;
    width: 70%;
    height: 100vh;
    background-color: rgb(255, 253, 250);
    transition: right 0.3s;
    z-index: 100;
  }
  .nav__items--active {
    right: 0;
  }
  .nav__item {
    margin: 1em 2em;
  }
}
@media (min-width: 576px) {
  .section__box-img img {
    max-width: 30vw;
  }
  .section__box-right {
    justify-content: space-around;
  }
  .section__box-right-number {
    font-size: 3.4rem;
  }
  .section__box-right-title {
    font-size: 2.2rem;
  }
  .section__box-right-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .footer__text {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .bigheader {
    display: flex;
  }
  .header {
    flex-grow: 2;
    margin: 0 1em 0em 1em;
  }
  .header__img {
    width: 100%;
    background-image: url("/img/image-web-3-desktop.jpg");
    background-size: cover;
    margin-top: 12em;
  }
  .header__content {
    display: flex;
  }
  .header__content-right {
    justify-content: flex-end;
    margin-left: 1em;
  }
  .aside {
    flex-grow: 1;
    height: 100%;
    margin-bottom: 6em;
  }
}
@media (min-width: 992px) {
  .section {
    flex-direction: row;
  }
  .section__box-img img {
    width: 100%;
  }
  .section__box-right {
    justify-content: space-between;
  }
  .section__box-right-number {
    font-size: 2.8rem;
  }
  .section__box-right-title {
    font-size: 1.8rem;
  }
  .section__box-right-text {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
@media (min-width: 1200px) {
  .section__box-right-number {
    font-size: 3.2rem;
  }
  .section__box-right-title {
    font-size: 2rem;
  }
  .section__box-right-text {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}/*# sourceMappingURL=main.css.map */